{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat J</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    {% comment %} <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script> {% endcomment %}

    {% comment %} <script src="https://unpkg.com/htmx.org@1.9.12"></script> {% endcomment %}
    {% comment %} <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script> {% endcomment %}
    {% comment %} <script src="https://unpkg.com/htmx-ext-ws/ws.js"></script> {% endcomment %}
    
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js"></script>

    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>

    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    
</head>
<body class="{% block class %}{% endblock %}">
	
    {% include "includes/messages.html" %}

    {% include "includes/header.html" %}
    
    {% block layout %}
    {% endblock layout %}

    {% if user.is_authenticated %}
        <footer hx-ext="ws" ws-connect="/ws/online-status/" ></footer>
    {% endif %}

    {% block javascript %}
    {% endblock javascript %}

</body>

</html>